<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors>
          <error statusCode="404" redirect="~/404.html" />
        </customErrors>
        <compilation debug="true" strict="false" explicit="true" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Static Assets" stopProcessing="true">
                    <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
                    <action type="Rewrite" url="/{R:1}"/>
                </rule>
                <rule name="RewriteDir">
                    <match url="^(.*)([/])$" />
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <rule name="RewriteHtml">
                    <match url="^(.*)\/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
